<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="emprestimo.title"></label>
            </div>
            <div class="panel-body">
                <form name="LivroForm" gumga-form novalidate>

                    <!--inicio da linha -------------------------------------------------------->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <gmd-input>
                                    <input
                                            class="form-control gmd"
                                            type="text"
                                            name="nome"
                                            gumga-error
                                            required
                                            ng-model="livro.data.nome"
                                    />
                                    <span class="bar"></span>
                                    <label
                                            class="control-label"
                                            gumga-translate-tag="livro.nome">nome</label>
                                </gmd-input>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <gmd-input>
                                    <input
                                            class="form-control gmd"
                                            type="text"
                                            name="autor"
                                            gumga-error
                                            ng-model="livro.data.autor"
                                    />
                                    <span class="bar"></span>
                                    <label
                                            class="control-label"
                                            gumga-translate-tag="livro.autor">autor</label>
                                </gmd-input>
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------->

                        <div class="col-md-6">
                            <form name="manytoone">
                                <gumga-many-to-one
                                        value="itemSelecionado"
                                        list="item.data"
                                        search-method="item.methods.asyncSearch('nome', param)"
                                        field="nome"
                                        authorize-add="false"
                                        async="true"
                                        display-info="false">
                                    <match>
                                        <div>{{match.model.nome}}</div>
                                    </match>
                                </gumga-many-to-one>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <gumga-many-to-one
                                        value="usuarioSelecionado"
                                        list="usuario.data"
                                        search-method="usuario.methods.asyncSearch('nome', param)"
                                        field="nome"
                                        authorize-add="false"
                                        async="true"
                                        display-info="false">

                                    <match>
                                        <div>{{match.model.nome}}</div>
                                    </match>
                                </gumga-many-to-one>
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------->
                        <gumga-one-to-many
                            name="Novo Cliente"
                            children="ctrl.clientes"
                            template-url="modal.html"
                            size="md"
                            displayable-property="nome"
                            controller="ModalClienteController"
                            property="nome"
                            edit-button-class="btn btn-primary"
                            remove-button-class="btn btn-danger"
                            class="ng-isolate-scope">

                        </gumga-one-to-many>

                        <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>

                        <gumga-form-buttons
                                class="gmd raised"
                                back="livro.list"
                                submit="livro.methods.put(livro.data)"
                                position="right"
                                valid="LivroForm.$valid"
                                confirm-dirty="true"
                                continue="continue">
                        </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>