	<form name="Modal">
	    <div class="modal-header">
	        <h3 class="modal-title" gumga-translate-tag="livro.title"></h3>
	    </div>
	    <div class="modal-body" style="overflow: auto">
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="status"
                        gumga-error
                        ng-model="emprestimo.data.status"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.status">status</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="nome"
                        gumga-error
                        ng-model="emprestimo.data.nome"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.nome">nome</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="edicao"
                        gumga-error
                        ng-model="emprestimo.data.edicao"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.edicao">edicao</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="autor"
                        gumga-error
                        ng-model="emprestimo.data.autor"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.autor">autor</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="editora"
                        gumga-error
                        ng-model="emprestimo.data.editora"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.editora">editora</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="volume"
                        gumga-error
                        ng-model="emprestimo.data.volume"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.volume">volume</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="anoPublicacao"
                        gumga-error
                        ng-model="emprestimo.data.anoPublicacao"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.anoPublicacao">anoPublicacao</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="numPaginas"
                        gumga-error
                        ng-model="emprestimo.data.numPaginas"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.numPaginas">numPaginas</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="origem"
                        gumga-error
                        ng-model="emprestimo.data.origem"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.origem">origem</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="tipoItem"
                        gumga-error
                        ng-model="emprestimo.data.tipoItem"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.tipoItem">tipoItem</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="isbn"
                        gumga-error
                        ng-model="emprestimo.data.isbn"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="emprestimo.isbn">isbn</label>
            </gmd-input>
        </div>
    </div>
</div>
	    </div>
	    <div class="clearfix"></div>
	    <div class="modal-footer">
	        <button type="button" class="btn gmd raised btn-primary" ng-click="ok(emprestimo.data)" ng-disabled="Modal.$invalid">OK</button>
	        <button type="button" class="btn gmd raised btn-warning" ng-click="cancel()">Cancel</button>
	    </div>
	</form>