<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="academpdco.title"></label>
            </div>
            <div class="panel-body">
                <form name="AcademPdcoForm" gumga-form novalidate>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="status"
                        gumga-error
                        ng-model="academpdco.data.status"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.status">status</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="nome"
                        gumga-error
                        ng-model="academpdco.data.nome"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.nome">nome</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="edicao"
                        gumga-error
                        ng-model="academpdco.data.edicao"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.edicao">edicao</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="autor"
                        gumga-error
                        ng-model="academpdco.data.autor"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.autor">autor</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="editora"
                        gumga-error
                        ng-model="academpdco.data.editora"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.editora">editora</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="volume"
                        gumga-error
                        ng-model="academpdco.data.volume"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.volume">volume</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="anoPublicacao"
                        gumga-error
                        ng-model="academpdco.data.anoPublicacao"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.anoPublicacao">anoPublicacao</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="numPaginas"
                        gumga-error
                        ng-model="academpdco.data.numPaginas"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.numPaginas">numPaginas</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="origem"
                        gumga-error
                        ng-model="academpdco.data.origem"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.origem">origem</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="tipoItem"
                        gumga-error
                        ng-model="academpdco.data.tipoItem"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.tipoItem">tipoItem</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="modalidade"
                        gumga-error
                        ng-model="academpdco.data.modalidade"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="academpdco.modalidade">modalidade</label>
            </gmd-input>
        </div>
    </div>
</div>
                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons
                            class="gmd raised"
                            back="academpdco.list"
                            submit="academpdco.methods.put(academpdco.data)"
                            position="right"
                            valid="AcademPdcoForm.$valid"
                            confirm-dirty="true"
                            continue="continue">
                    </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>