<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="bibliotecario.title"></label>
            </div>
            <div class="panel-body">
                <form name="BibliotecarioForm" gumga-form novalidate>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="nome"
                        gumga-error
                        ng-model="bibliotecario.data.nome"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.nome">nome</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="cpf"
                        gumga-error
                        ng-model="bibliotecario.data.cpf"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.cpf">cpf</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="rg"
                        gumga-error
                        ng-model="bibliotecario.data.rg"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.rg">rg</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="dataNasc"
                        gumga-error
                        ng-model="bibliotecario.data.dataNasc"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.dataNasc">dataNasc</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="email"
                        gumga-error
                        ng-model="bibliotecario.data.email"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.email">email</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="telefone"
                        gumga-error
                        ng-model="bibliotecario.data.telefone"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.telefone">telefone</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="senha"
                        gumga-error
                        ng-model="bibliotecario.data.senha"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.senha">senha</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="ativo"
                        gumga-error
                        ng-model="bibliotecario.data.ativo"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.ativo">ativo</label>
            </gmd-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="setor"
                        gumga-error
                        ng-model="bibliotecario.data.setor"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="bibliotecario.setor">setor</label>
            </gmd-input>
        </div>
    </div>
</div>
                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons
                            class="gmd raised"
                            back="bibliotecario.list"
                            submit="bibliotecario.methods.put(bibliotecario.data)"
                            position="right"
                            valid="BibliotecarioForm.$valid"
                            confirm-dirty="true"
                            continue="continue">
                    </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>