<div class="col-md-8 col-md-offset-2" ng-init="entity = {}" xmlns="http://www.w3.org/1999/html">
    <div class="panel gmd">
      <h3 style="text-align: center;">Bem vindo!</h3>
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <img src="resources/images/bibliotecLogo.png" alt=" Logo da Gumga" class="img-rounded" style="display:block;margin: 0 auto;"/>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h1 style="text-align: center"><b>Biblio</b>Tec</h1>
            <br>
        </div>

      </div>
    </div>
</div>
